<!doctype html>
<html lang="en" class="fullscreen-bg">
<#assign contextPath=rc.contextPath />
<head>
<title>在线教育系统--老师管理端</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="${contextPath}/assets/css/bootstrap.min.css">
<link rel="stylesheet"
	href="${contextPath}/assets/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${contextPath}/assets/vendor/linearicons/style.css">
<!-- MAIN CSS -->
<link rel="stylesheet" href="${contextPath}/assets/css/main.css">
<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link rel="stylesheet" href="${contextPath}/assets/css/demo.css">
<!-- GOOGLE FONTS -->
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76"
	href="${contextPath}/assets/img/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="${contextPath}/assets/img/favicon.png">
<link rel="stylesheet"
	href="${contextPath}/js/layui/css/modules/layer/default/layer.css" />
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
								<div class="logo text-center">
									<img src="assets/img/logo-dark.png" alt="Klorofil Logo">
								</div>
								<p class="lead">登录</p>
							</div>
							<form class="form-auth-small" method="post" id="loginForm" onsubmit="return login()">
								<div class="form-group">
									<label for="signin-account" class="control-label sr-only">账号</label>
									<input type="text" name="username" class="form-control" id="signin-account"
										value="" placeholder="账号">
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">密码</label>
									<input type="password" name="password" class="form-control"
										id="signin-password" value="" placeholder="密码">
								</div>
									<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
								<div class="bottom">
									<span class="helper-text"><i class="fa fa-lock"></i> <a
										href="#">忘记密码?</a></span>
								</div>
								
							</form>
						
						</div>
					</div>

					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading">操作系统精品课程网站设计与实现</h1>
							<p>by The N</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>
<script type="text/javascript" src="${contextPath}/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="${contextPath}/js/layui/layer.js"></script>
<script type="text/javascript">
	
	function login(){
		
		if (loginValidate()) {
			$.post('login', {username:$("#signin-account").val(),password:$("#signin-password").val()}, function(data) {
				
				if (data.status == 400) {
					layer.msg(data.msg, {
						anim: 0,
						icon : 4
					});
				} else {
					layer.msg('登录成功,页面加载中', {
						icon : 16,
						shade : 0.01
					});
					window.location.href="http://localhost:8088/";
				}
			});
		}
		return false;
	}

	function loginValidate() {
		var account = $("#signin-account").val();
		var password = $("#signin-password").val();
		console.log(account+":"+password);
		if (account.trim() == "") {
			layer.msg('账号不能为空', {
				anim: 6,
				icon : 5
			});
			return false;
		}
		if (password.trim() == "") {
			layer.msg('密码不能为空', {
				anim: 6,
				icon : 5
			});
			return false;
		}
		return true;
	}
</script>
</html>
